/* Quitamos márgenes por defecto del navegador */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Contenedor principal que centra el contenido */
.main-content {
  display: block; /* Cambiar de flex a block */
  min-height: calc(100vh - 60px);
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita scroll horizontal en el body */
}

/* Ajustes para móvil */
@media (max-width: 768px) {
  .main-content {
    padding: 10px;
  }

  body,
  html {
    overflow-x: hidden; /* Evita scroll horizontal en toda la página */
  }
}
