<div class="login-screen">
  <div class="login-card-ultra-wide">
    
    <div class="app-title-logo">
      <span class="app-title-blue">Conve</span><span class="app-title-orange">X</span>
    </div>
    
    <div class="header-text">
      <h1>Iniciar Sesión</h1>
      
    </div>
    
    <form (submit)="$event.preventDefault(); onSubmit()">
      <div class="form-container-vertical">
        <div class="input-container">
          <label for="email">CORREO ELECTRÓNICO</label>
          <input type="email" id="email" [(ngModel)]="credentials.email" name="email" placeholder="ejemplo@correo.com" required>
        </div>
        
        <div class="input-container">
          <label for="password">CONTRASEÑA</label>
          <input type="password" id="password" [(ngModel)]="credentials.password" name="password" placeholder="••••••••" required>
        </div>

        <button type="submit" class="btn-login"><a routerLink="/inicio"></a>Entrar</button>
      </div>
    </form>
    
    <div class="login-footer">
      ¿No tienes cuenta en la plataforma? <a href="#" (click)="$event.preventDefault(); mostrarModalCodigo = true">
        <i class="bi bi-lock-fill me-1"></i>Crea una cuenta aquí  🔒 
      </a>
    </div>
  </div>
  <!-- MODAL CÓDIGO -->
    @if (mostrarModalCodigo) {
      <div class="modal-overlay" (click)="cerrarModal($event)">
        <div class="modal-codigo">
          <div class="modal-codigo-icon">
            <i class="bi bi-shield-lock-fill"></i>
          </div>
          <h5>Acceso restringido</h5>
          <p>Introduce el código de autorización para crear una cuenta.</p>
          <input type="password" 
                 [(ngModel)]="codigoIntroducido" 
                 name="codigo"
                 placeholder="••••••••" 
                 [class.input-error]="errorCodigo"
                 (keyup.enter)="validarCodigo()">
          @if (errorCodigo) {
            <span class="error-codigo">
              <i class="bi bi-x-circle-fill me-1"></i>Código incorrecto
            </span>
          }
          <div class="modal-codigo-botones">
            <button class="btn-modal-cancelar" (click)="cerrarModal()">Cancelar</button>
            <button class="btn-modal-confirmar" (click)="validarCodigo()">Confirmar</button>
          </div>
        </div>
      </div>
    }
</div>